# Django Application Settings
DEBUG=True
SECRET_KEY=django-insecure-dev-key-change-in-production

# Celery Settings
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/1

# Redis Settings
REDIS_URL=redis://redis:6379/1
REDIS_HOST_PORT=6389

# Database Settings
DATABASE_URL=postgresql://townmarket:password@db:5432/townmarket
POSTGRES_HOST_PORT=5430

# PostgreSQL Database Settings
POSTGRES_DB=townmarket
POSTGRES_USER=townmarket
POSTGRES_PASSWORD=password

STORE_ID=salah69d86c586754c
STORE_PASSWORD=salah69d86c586754c@ssl


SHIPPING_FEE=50
commission_percentage=0.10
ORDER_PAYMENT_TIMEOUT_MINUTES=30

NGROK_AUTHTOKEN=38uABW0UxFlAvh33uKaDDWlOToJ_5oVuEsE7QYzoBYBvwWuBM